<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <title>DEMO</title>

    <!--link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"-->
    <link rel="icon" href="{{ url_for('static', filename='index.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>



<body>





    <div class="container">


        <br>
        <style>
            li {
                float: right;
            }
        </style>
        <ul class="menu">

        </ul>
        <div class="row">

            <div class="col-sm-1"><img src="{{ url_for('static', filename='index.png') }}" class="index"></div>


            <div class="col-sm-4">
                <h2>Text Summary</h2>
            </div>

        </div>
        <div class="row">
            <!-- <img src="{{ url_for('static', filename='index.png') }}" class="index" style="position:absolute;left:220px;top:40px;"> -->


            <form class="form-inline" method="POST" action="{{ url_for('index') }}">
                <div class="form-group">
                    <div class="input-group">
                        <!-- <div class="col-sm-1"> -->
                        <h3>Title</h3>
                        <!-- </div> -->


                        <div class="row">
                            <div class="col-sm-12">
                                <textarea rows="2" cols="100" name="title">{{ title }}</textarea>
                            </div>
                        </div>
                        <h3>Content</h3>
                        <textarea rows="10" cols="100" name="text">{{ text }}</textarea>
                        <br>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>


            </form>

            <br>
            <h2>Title: </h2>
            <h3>{{ title }}</h3>

            <h2>Summary:</h2>
            <h3 style="font-family:Consolas"> {{ summary }} </h3>
            <form class="form-inline" method="POST" action="{{ url_for('speech') }}">

                <input type="hidden" name="summary2" value="{{ summary }}" />
                <input type="hidden" name="originalLength" value="{{ originalLength }}" />
                <input type="hidden" name="summaryLength" value="{{ summaryLength }}" />
                <input type="hidden" name="summaryRatio" value="{{ summaryRatio }}" />
                <input type="hidden" name="text" value="{{ text }}" />
                <input type="hidden" name="title" value="{{ title }}" />
                <button type="submit" class="btn btn-info">
                        <i class="fa fa-volume-up"></i> Play
                    </button>
            </form>
            <br>
            <h3>Original Length : {{ originalLength }}</h3>
            <h3>Summary Length : {{ summaryLength }}</h3>
            <h3>Summary Ratio : {{ summaryRatio }}</h3>

            </div>
            <br>
        </div>
    </div>
    </div>
</body>

</html>